.searchContainer {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.searchBar {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  margin: 0 10px;
}

input:focus {
  outline: none;
}

.dataResult {
  width: 100%;
  height: 100%;
  border-top: 0.5px solid #ccc;
  overflow: hidden;
  overflow-y: auto;
  place-content: center;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  padding-bottom: 25px;
  background-color: var(--primary);
  color: var(--text);
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.resultsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.viewAllResultsText {
  display: flex;
  margin: 20px 0 auto;
  font-size: 1rem;
  font-weight: bold;
  justify-content: center;
}
.viewAllResultsText a {
  cursor: pointer;
}

#clearBtn {
  cursor: pointer;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 800px) {

    .searchContainer {
        display: flex;
        justify-content: center;
        margin-top: 5rem;
      }
}

